:root{
    --ltr:ltr;
}
.ltr{
    direction: var(--ltr);
}
.loadpage{
    width: 100%;
    height: 1000vh;
    background-color: #fff;
    position: fixed;
    z-index: 2;
    animation: openup forwards 4s;
    top: 0;
}
@keyframes openup {
    from{
        top: 0;
    }
    to{
        top: 100%;
    }
}
.loadpage .words{
    top: 5% !important;
    animation: openup forwards 4s;
}
body{
    direction: rtl;
    font-family: 'Cairo', sans-serif;

}
nav{
    direction: ltr;
}
section{
    padding: 80px 0;
}
/* Header Section */
#home{
    background-image: url(../img/header-bg.jpg);
    background-position: center center;
    background-size: cover;
}
/* program portfolio webpage content */
.home2{
    min-height: 70vh;
}
.laywork{
    min-height: 70vh;
}
/*  ////////////////////////////////////////// */
#home .morgan{
    top: 85%;
    width: 77%;
    height: 20%;
}
#home .scroll-down{
    bottom: 66%;
    left: 50%;
    border: 1px solid #fff;
    width: 20px;
    height: 30px;
    border-radius: 40%;
    animation: scrolldwn 2s infinite;
}
@keyframes scrolldwn{
    from{
        opacity: 1;
        bottom: 66%;
    }
    to{
        opacity: 0;
        bottom: 60%;
    }
}
#portfolio .book{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    perspective: 600px;

}
.book::before{
    content: "";
    position: absolute;
    z-index: 5;
    width: 50%;
    height: 100%;
    right: 50%;
    background-color: #707070;
    border-radius: 20px 0 0 20px;
    transform-origin: center right;
    transform: rotateY(180deg);
    transition: 0.7s ease all;
}
.book:hover::before {
    transform: rotateY(0deg);
}
.book:hover .pg.pg2{
    transform: scale(1.1);
} 
.book .pg {
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}
.book .pg.pg1 {
    background-color: #ee5f2a;
    border-radius: 20px 0 0 20px;
    left: 0;
}

.book .pg.pg2 {
    background-color: #30a5da;
    right: 0;
    border-radius: 0 20px 20px 0;
    transition: transform .3s;
}
/* navbar section */
.navbar-nav .nav-link{
    position: relative; 
}
.navbar-nav .nav-link::after{
    content: "";
    position: absolute;
    height: 2px;
    bottom: 20%;
    width: 0;
    left: 13%;
    background-color: #000;
    transition: width,left .5s,.5s; 
}
.navbar-nav .nav-link.active::after{
    width: 75%;
}
nav .nav-link{
    color: #000;
}
.nav-pills .nav-link{
    color: #000;
    position: relative;

}
.navbar-brand{
    letter-spacing: 1px;
}

/* portfolio section */
.nav-pills .nav-link{
    color: #fff;
}
.nav-pills .nav-link::after{
    content: "";
    position: absolute;
    background-color: #fff;
    bottom: 0;
    left: 20%;
    height: 2px;
    width: 0px;
    transition: all .5s;
}
.nav-pills .nav-link.active{
    color: #fff;
    background-color: transparent;
}
.nav-pills .nav-link.active::after{
    width: 60%;
}
.reveal{
    transform: translatex(150px);
    opacity: 0;
    transition: all 1s ease;
}
.reveal.active{
    transform: translatex(0);
    opacity: 1;
}
.reveall{
    transform: translatey(150px);
    opacity: 0;
    transition: all 1s ease;
}
.reveall.active1{
    transform: translatey(0);
    opacity: 1;
}
.navbar{
    transition: all .5s;
}
.navbar-scrolled{
    background-color: #000 !important;
    color: #fff !important;
}
.navbar-scrolled a{
    color: #fff !important;
}
.navbar-scrolled .nav-link::after{
    background-color: #fff;
}
.contactform{
    direction: ltr;
}
.contactform textarea{
    height: 150px;
}

input{
    border: none;
    transition: all .2s;
}
textarea{
    border: none;
    transition: all .2s;
}
input:focus{
    outline:1px solid #707070;
}
textarea:focus{
    outline:1px solid #707070;
}
.sbbtn{
    transition: all .3s;
    border: 1px solid #000; 
}
.sbbtn:hover{
    background-color: #000 !important;
    color: #fff;
}
#home .header-paragraph .typed{
    overflow: hidden;
    width: 0;
    animation: morgan 2s  forwards;
}
@keyframes morgan{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
    
}

#portfolio .caption{
    width: 98%;
    height: 98%;
    background-color: rgba(255, 255, 255,0.7);
    top: 50%;
    left: 1%;
    position: absolute;
    transform: translateX(-50%);
    transform: translatey(-45%);
    opacity: 0;
    transition: all .5s;
}
#portfolio .image:hover .caption{
    opacity: 1;
    transform: translatey(-50%);
}
#portfolio .captio{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: all .4s;
}
#portfolio .image:hover .captio{
    opacity: 1;
    top: 45%;
} 
 
#portfolio .image .icons{
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    opacity: 0;
    transition: all .4s;
}
#portfolio .image:hover .icons{
    opacity: 1;
    top: 50%;
}
#portfolio .image .icons ul li{
    background-color: #000;
    width: 30px;
    height: 30px;
    transition: background-color, color .3s,.3s;

}
#portfolio .image .icons ul li:hover{
    background-color: #fff;
    color: #000 !important;
}
/* services section */

#services .icon{
    width: 70px;
    height: 70px;
}
#services .icon{
    transition: background-color,color,border-color .2s,.2s,.2s;
    border-color: #000 !important;
}
#services .card:hover .icon{
    background-color: #000;
    color: #fff;
    border-color: #fff !important;
}
.card-body h5::after{
    content: "";
    width: 20%;
    height: 2px;
    position: absolute;
    background-color: #000;
    bottom: -36%;
    left: 50%;
    transform: translateX(-50%);
    transition: width .5s;
}
#services .card:hover .card-body h5::after{
    width: 35%;
} 
#services .card p{
    font-size: 14px;
}
/* footer section */
footer{
    padding: 20px 0;
}
footer .iconsOfFooter ul li{
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: all .5s;
}
footer .iconsOfFooter ul li:hover{
    background-color: #fff;
    color: #000 !important;
    border-color: #000;
}
